<%= content_for :header do %>
  <%= link_to 'Regresar', local_deportivos_path %>
  <h1>Reserva de Espacio Deportivo</h1>
<% end %>
<ul data-role="listview" data-inset="true">
<li data-role="list-divider">Realizar reserva</li>
<li>
<%= render 'form' %>
</li>



</ul>
