<%= content_for :header do %>
  <%= link_to 'Regresar', usuarios_path %>
  <h1>Usuarios</h1>
<% end %>
<ul data-role="listview" data-inset="true">
<li data-role="list-divider">Crear usuario</li>
<li>
<%= render 'form' %>
</li>
</ul>
