body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  //padding: 2px;
  //background-color: red;
  //display: table;
   }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  overflow: auto;
overflow-x: hidden;
  h2 {
    height:25px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 19px;
    font-family:"Calibri";
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: red;
    //padding-bottom: 5px;
    color: #E0E0E0 ;
     }
  ul li {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    font-family:"Arial";
    list-style: square; } }
