<%= content_for :header do %>
  <%= link_to 'Regresar', local_deportivos_path %>
  <h1>Locales Deportivos</h1>
<% end %>
<ul data-role="listview" data-inset="true">
<li data-role="list-divider">Nuevo Local Deportivo</li>
<li>
<%= render 'form' %>
</li>
</ul>

